In [1]:
import pandas as pd
comoda = pd.read_csv('comoda_data.csv')

In [6]:
comoda=comoda.rename(columns={"userID": "user", 'itemID': 'item'})
train=comoda.sample(frac=0.8,random_state=200)
test=comoda.drop(train.index)
print(train)
print(test)

      user  item  rating  age  sex  city  country  time  daytype  season  ...  \
2256    50  4365       4   26    2    21        2     3        2       2  ...
1097    48  3884       5   28    1    20        2     4        1       1  ...
1868    59  4224       2   27    1    20        2     4        2       4  ...
1580   188  3753       5   20    1    10        3     3        1       3  ...
329     21   230       5   28    1    10        3     4        1       3  ...
...    ...   ...     ...  ...  ...   ...      ...   ...      ...     ...  ...
1796    21    85       5   28    1    10        3     3        1       3  ...
280     55   194       4   28    2    20        2     1        1       3  ...
1286    26     8       5   -1    2     3        5     4        2       1  ...
1865    61  3983       4   28    1    20        2     2        2       4  ...
705     25  3613       4   27    1    20        2     1        3       4  ...

      movieCountry  movieLanguage  movieYear  genre1  genre2  genre3  actor1  \
2256            37              9       2010       9       7      -1    1210
1097            37              9       2009      10      18      -1     660
1868            29              9       2011       1      19      21    1224
1580            37              9       2006       8      21      -1    1001
329             37              9       2003       1       3      12     541
...            ...            ...        ...     ...     ...     ...     ...
1796            37              9       2001       1       8      21    1630
280             37              9       2009      10      12      18    1121
1286            37              9       2007       1       8      21    1126
1865            37              9       2011       7      18      -1    1483
705             14             11       2009       7      -1      -1      12

      actor2  actor3    budget
2256      -1      -1        -1
1097    1912     108  25000000
1868    1931     437   7000000
1580    1404    1755  27000000
329     1919     753  94000000
...      ...     ...       ...
1796     223     296  92000000
280     1629    1820  50000000
1286    1992    1908  53000000
1865     860    1777  36000000
705      199    1405   5000000

[1837 rows x 30 columns]
      user  item  rating  age  sex  city  country  time  daytype  season  ...  \
2       21     6       4   28    1    10        3     4        2       2  ...
17      31     3       3   30    2    20        2     2        1       2  ...
18      31     9       4   30    2    20        2     4        2       2  ...
37      35    36       3   30    1    10        3     4        2       3  ...
51      21    45       5   28    1    10        3     4        1       2  ...
...    ...   ...     ...  ...  ...   ...      ...   ...      ...     ...  ...
2270    33  4371       1   26    2    10        3     4        3       2  ...
2274   125  4374       3   23    2     3        5     4        1       2  ...
2278    31  3954       3   30    2    20        2     2        1       2  ...
2280    50  4376       3   26    2    21        2     3        1       2  ...
2282    33  2240       4   26    2    10        3     4        3       2  ...

      movieCountry  movieLanguage  movieYear  genre1  genre2  genre3  actor1  \
2               37              9       2008       7      10      18    1373
17              37              9       2010       7      10      18      74
18              37              9       1993       1       6      10    1877
37              37              9       2007      14      21      -1     951
51              37              9       1993       8      10      21    1347
...            ...            ...        ...     ...     ...     ...     ...
2270            13             10       2011       7      18      -1     144
2274            37              9       2012       1       8      10     349
2278            37              9       2005       1       3      19     595
2280            37              9       2004      10      -1      -1     225
2282            37              9       1993       8      10      21      24

      actor2  actor3     budget
2       1510    1691   24000000
17       334    1910   30000000
18       931     701   33000000
37      1684    1286   22200000
51      1624     155   25000000
...      ...     ...        ...
2270     618     254         -1
2274    1343     645  250000000
2278     718    1416  113000000
2280     997     543         -1
2282    1715    1518         -1

[459 rows x 30 columns]

In [9]:
from lenskit.algorithms.bias import Bias
from lenskit.algorithms.als import BiasedMF
bia = Bias()
bia = bia.fit(train)
aBiasedMF = BiasedMF(28,bias=bia)
aBiasedMF.fit(train)

In [13]:
from lenskit.batch import predict
from lenskit.metrics.predict import user_metric, rmse, mae
preds = predict(aBiasedMF, test)
print("RMSE: ",user_metric(preds, metric=rmse))
print("MAE: ",user_metric(preds, metric=mae))

RMSE:  0.8776128985454728
MAE:  0.7754093373466426